body {
  background-color: #6B748C;
  color: #040620;
}
.wrapper {
  max-width: 980px;
  margin: auto;
  background-color: white;
  color: #090A3A;

  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
}

#title h1 {
  color: #F0E7D5;
}

#title {
  max-width: 980px;
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
  padding: 20px 0px;
  background-color: #090A3A;
  color: #F0E7D5;
}
#title h1 { font-size: 52px; }
#title p  { font-size: 20px; }

.content {
  max-width: 680px;
  min-width: 250px;
  margin: 0px 30px;
  padding: 20px 40px;
  background-color: white;
}
h1, h2, h3, h4 {
  color: #090A3A;
}

.content {
  font-size: 18px;
  color: black;
}

.left {
  padding: 20px;
  width: 180px;
  background-color: white;
  color: #090A3A;

}

.left h2 {
  font-size: 26px;
}

.left ul {
  padding: 5px;
}

.left li {
  margin-bottom: 10px;
  font-size: 20px;
}

a {
  color: #369;
  text-decoration: none;
}
a:hover {
  color: #59B;
}


ul {
  padding: 5px 15px 5px 5px;
}

@media print, screen and (max-width: 500px) {
  #title h1 { font-size: 32px; }
  #title p  { font-size: 16px; }

  .wrapper {
    display: block;
    flex-direction: wrap;
  }

  .content {
    padding: 10px;
    margin: 10px;
    border-top: 0px;
    margin-top: 0px;
  }
  p  { font-size: 16px; }

  .issues {
    margin: auto;
    width: 200px;
  }
  h2 {  text-align: center; }

  .issues li {
    display: inline-block;
    margin: 10px;
  }

  .left {
    margin: auto;
    padding: 20px;
    background-color: white;
    color: #090A3A;
    border-bottom: 0px;
    margin-bottom: 0px;
  }
}

